<h1 style="text-align:center">Todos los productos</h1>
<div class="main-container">
    <div class="product-container">
        {{#each products}}
            <div class="cards">
            <div class="card">
                <h2 class="card-title">{{this.title}}</h2>
                <img src={{this.thumbnail}}>
                <p class="card-desc">{{this.description}}</p>
            </div>
        {{/each}}
    </div>
</div>



